body {
    font-family: Arial, sans-serif;
  }
  
  #emotes-container {
    padding: 10px;
    text-align: center;
  }
  
  #emotes img {
    width: 32px;
    height: 32px;
    margin: 5px;
    cursor: pointer;
  }
  
  #emotes img:hover {
    transform: scale(1.1);
  }
  